@font-face {
  font-family: "Sentinel-Black";
  src: url("../assets/fonts/Sentinel-Black.otf");
}
html, body {
  height: 100vh;
  font-family: "Oxygen";
  
  }
@media (min-width: 576px){
.col-sm-3 {
    flex: 0 0 25%;
    max-width: 18%;
}
}
@media (min-width: 576px){
.col-sm-9 {
    flex: 0 0 75%;
    max-width: 82%;
}
}
@media (max-width: 1000px){
.sidebar{
  left: -210px;
}
}

.row{
flex-wrap: inherit;
margin-right: 10px;
}
.col-sm-10{
padding-right: 0px;
padding-left: 0px;
}
span{
font-size:15px;
}
.order_div{
padding:20px;
}
.sidebar.open {
left: 10px;
}
@media (max-width: 1000px){
.header__controls{
  display: none;
}
}
@media (max-width: 1000px){
.orders__filters-item {
    margin-right: 0px;
    display: flex;
    align-items: center;
    margin: 10px;
}
}
.header__controls.open {
right: 0;
display: flex;
}
.table-responsive {
display: block;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}
.pagination{
margin-left: auto;
}
dl, ol, ul {
margin-bottom: 0rem;
}
.product-form{
padding-bottom: 0px;
width: 80%;

}
.product-text{
height: 50px;
margin-left:50px;
}
.dataTable{
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
}
.table-striped tbody tr:nth-of-type(odd) {
background-color: rgba(0, 243, 255, 0.05);
}
.check-box{
width: 80%;
padding-left: 80px;
}
.prurprice-dataTable{
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
padding-top: 0px;
}
.purprice-title{
padding-top:20px;
padding-bottom:20px;
font-size: 16px;
line-height: 10px;
margin-bottom: 0px;
font-weight: bold;
}
.react-datepicker-wrapper{
width:100%
}
.myDatePicker {
width:100%;
height: 37px;
}
.product-details{
padding-bottom: 20px;
}
.btn-small{
width:10%;
}
.transport{
padding-bottom: 50px;
}
.sales-details{
max-width: 750px;
}
.add-row{
display: inline-block;
margin: 0.375rem;
}
.prurprice-dataTable {
border-style: solid;
border-width: 1.5px;
border-color: #E8EEF1;
padding-top: 0px;
margin-top: 0px;
}
.purchase-order-table{
height: 600px;
}
.login-page{
text-align: center;
}
.login-page-div{
margin-top: calc(23%);
/* border-radius: 5px; */
height: 450px;
background-color: white;
}
.login-form{
padding-top:30px
}
.orders__filters-search {
width: calc(60%);
}
.sign-in{
font-size: 15px;
width: 160px;
height: 35px;
margin-bottom: 20px;
background-color: #2dafe5;
color:#ffffff;
}
.sign-in:hover{
font-size: 15px;
width: 160px;
height: 35px;
margin-bottom: 20px;
background-color: #ffffff;
color: #2dafe5;
}
.login-side-div{
height: 100%;
width: 25%;
background-color: #2dafe5;
}
.login-page-div{
padding: 0px;
position: fixed;
top: 50%;
left: 50%;
width: 47em;
margin-top: -17em;
margin-left: -24em;

}
.login-side-grad{
left:0;
margin-top: 324px;
}
.error-messages {
padding: 5px;
color: #DC2C2C!important;
font-size: 13px;
font-weight: 700;
}
.statu-item {
padding-left:20px
}
.dashboard__top{
padding-top:20px
}
.credit-form{
padding-bottom:10px
}
.payment{
margin-top: 8px;
width: 60%;
height: 53%;
}
.file-table{
height: 260px;
}
.modal_button{
width: 100px;
}
.addQuestion{
  width: 100%;
  color: #333333;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px 0;
  align-items: center;
  justify-content: space-around;
  display: flex;
  float: none;
}
.vertical-center {
  margin-top: calc(23%);
  height: 450px;
  background-color: white;
  margin: 0;
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
.btn {
  text-transform: none;
}
.btn-success.dropdown-toggle {
  background-color: #ffffff!important;
  border-color: #ffffff;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:hover, .btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff
}
.btn-success.dropdown-toggle:focus{
  background-color: #ffffff !important;
}
.btn-success:not(:disabled):not(.disabled).active:focus, .btn-success:not(:disabled):not(.disabled):active:focus, .show>.btn-success.dropdown-toggle:focus {
  background-color: #ffffff !important;
  box-shadow: 0 0 0 0.2rem #ffffff;
  border-color: #ffffff;
}
.btn-success:not(:disabled):not(.disabled).active, .btn-success:not(:disabled):not(.disabled):active, .show>.btn-success.dropdown-toggle {
  color: #fff;
  background-color: #ffff;
  border-color: #ffff;
}
.btn-success:not([disabled]):not(.disabled):active, .btn-success:not([disabled]):not(.disabled).active, .show > .btn-success.dropdown-toggle {
  box-shadow: 0 0 0 0 #ffff;
  background-color: #ffff !important;
}
.dataTables_wrapper .dataTables_filter input {
  margin-left: 0.5em;
  /* -webkit-appearance; */
  border-radius: 5px;
  -webkit-appearance:button;
}
.header__user-img{
  margin-right: 5px;
}
@media (max-width: 1000px){
  .product-form {
    padding-bottom: 0px;
    width: 100%;
    /* width: 80%; */
  }
}
.react-confirm-alert-button-group {
  justify-content: flex-end;
}
.statu-item{
  cursor: pointer
}